*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#canvas{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: black;
}
#randomize{
  position: absolute;
  width: 10rem;
  height: 2rem;
  top: 10px;
  left: 10px;
}
.btn{
  width: 5rem;
  height: 2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
